# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.idb
*.tlog
*.ilk
*.vsidx
*.ipch
*.idb
*.pdb

DataStructure/x64/Debug/DataStructure.ilk
DataStructure/x64/Debug/DataStructure.tlog/CL.command.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/Cl.items.tlog
DataStructure/x64/Debug/DataStructure.tlog/CL.read.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/CL.write.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.command.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.read.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.secondary.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.write.1.tlog
DataStructure/x64/Debug/vc143.idb
DataStructure/x64/Debug/vc143.pdb
DataStructure/x64/Debug/vc143.pdb
DataStructure/x64/Debug/vc143.idb
DataStructure/x64/Debug/DataStructure.tlog/link.write.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.secondary.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.read.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.command.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/DataStructure.lastbuildstate
DataStructure/x64/Debug/DataStructure.tlog/CL.write.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/CL.read.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/Cl.items.tlog
DataStructure/x64/Debug/DataStructure.tlog/CL.command.1.tlog
DataStructure/x64/Debug/DataStructure.ilk
DataStructure/x64/Debug/DataStructure.exe.recipe
DataStructure.vcxproj
x64/Debug/DataStructure.pdb
.vs/DataStructure/FileContentIndex/1fd491bd-00fe-4832-b7b6-b626fc502ea3.vsidx
.vs/DataStructure/FileContentIndex/558b0b46-ce65-46ed-a38e-64e64ed1966c.vsidx
.vs/DataStructure/FileContentIndex/70547622-d310-4c06-93ed-d06f258906a6.vsidx
.vs/DataStructure/FileContentIndex/9047e78e-d4d1-4f85-b889-90865160a2c0.vsidx
.vs/DataStructure/FileContentIndex/f1d91a3c-88da-4696-af59-3795d070cb4a.vsidx
.vs/DataStructure/v17/Browse.VC.db
.vs/DataStructure/v17/Browse.VC.db-shm
.vs/DataStructure/v17/Browse.VC.db-wal
.vs/DataStructure/v17/Browse.VC.opendb
.vs/DataStructure/v17/DocumentLayout.backup.json
.vs/DataStructure/v17/DocumentLayout.json
.vs/DataStructure/v17/ipch/AutoPCH/5c7f25baf162d1a7/QUEUE12.ipch
.vs/DataStructure/v17/ipch/AutoPCH/6b95bd9f0ddbeeee/QUEUE12.ipch
.vs/DataStructure/v17/ipch/AutoPCH/9b06343d71e089e1/STACK12.ipch
.vs/DataStructure/v17/ipch/AutoPCH/d9b3c65ef7915e97/STACK12.ipch
