# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.idb
*.tlog
*.ilk
DataStructure/x64/Debug/DataStructure.ilk
DataStructure/x64/Debug/DataStructure.tlog/CL.command.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/Cl.items.tlog
DataStructure/x64/Debug/DataStructure.tlog/CL.read.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/CL.write.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.command.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.read.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.secondary.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.write.1.tlog
DataStructure/x64/Debug/vc143.idb
DataStructure/x64/Debug/vc143.pdb
DataStructure/x64/Debug/vc143.pdb
DataStructure/x64/Debug/vc143.idb
DataStructure/x64/Debug/DataStructure.tlog/link.write.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.secondary.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.read.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/link.command.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/DataStructure.lastbuildstate
DataStructure/x64/Debug/DataStructure.tlog/CL.write.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/CL.read.1.tlog
DataStructure/x64/Debug/DataStructure.tlog/Cl.items.tlog
DataStructure/x64/Debug/DataStructure.tlog/CL.command.1.tlog
DataStructure/x64/Debug/DataStructure.ilk
DataStructure/x64/Debug/DataStructure.exe.recipe
DataStructure.vcxproj
x64/Debug/DataStructure.pdb
